extends layout

block content
  h1= title
  p Welcome to #{title}

  form#connection
    input#coninput(type='text', required='required', placeholder='token')
    input#username(type='text', required='required', placeholder='username')
    p#error
    button(type='submit') Connect

  form#chat
    input#m(type='text', placeholder='hei')
    input#type(type='text', placeholder='game message')
    button(type='submit') Send


  div#history
